.footer {
    font-weight: 400;
    line-height: 2rem;
    color: #1773B0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: 2rem;
   
  }

  .line-container{
    display: flex;
    justify-content: center;
  }
  .solid-line {
     border-top: 1px solid rgb(168, 161, 161);
     margin-bottom: 1.5rem;
     width: 93%;
     margin-top: 3rem;
  }